<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Remote Control - {{ page }}</title>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="/static/favicon.ico">
</head>

<body>
  <div id="grid">
  {% for item in items %}
    <a class="item button"
        {% if item.href %}href="{{item.href}}"{% endif %}
        {% if item.command %}data-command="{{ page }},{{ loop.index0 }}"{% endif %}
        style="
          {% if item.column %}grid-column-start: {{ item.column }};{% endif %}
          {% if item.row %}grid-row-start: {{ item.row }};{% endif %}
          {% if item.column_span %}grid-column-end: span {{ item.column_span }};{% endif %}
          {% if item.row_span %}grid-row-end: span {{ item.row_span }};{% endif %}
        ">
      {{item.text}}
    </a>
  {% endfor %}
  </div>
  <script src="/static/main.js">
  </script>
</body>
</html>