<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Remote Control - {{ page }}</title>
  <link rel="stylesheet" href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/ico" href="/static/favicon.ico">

  <link rel="stylesheet" href="/static/simple-keyboard/index.css">
</head>

<body>
  <div id="grid">
  {% for item in items %}
    {% set cell_styling = (";grid-column-start: "    ~ item.column      if item.column) ~
                          (";grid-row-start: "       ~ item.row         if item.row) ~
                          (";grid-column-end: span " ~ item.column_span if item.column_span) ~
                          (";grid-row-end: span "    ~ item.row_span    if item.row_span) %}
    {% if item.keyboard %}
      <div class="simple-keyboard" style="{{ cell_styling }}" data-command="{{ page }},{{ loop.index0 }}"></div>
    {% else %}
      <a class="item button"
          {% if item.href %}href="{{item.href}}"{% endif %}
          {% if item.command %}data-command="{{ page }},{{ loop.index0 }}"{% endif %}
          style="{{ cell_styling }}">
        {{item.text}}
      </a>
    {% endif %}
  {% endfor %}
  </div>

  <script src="/static/simple-keyboard/index.js"></script>
  <script src="/static/main.js"></script>
</body>
</html>