body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat({{ columns }}, 1fr);
    grid-template-rows: repeat({{ rows }}, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    height: calc(100vh - 20px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
    user-select: none;
}