body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat({{ columns }}, 1fr);
    grid-template-rows: repeat({{ rows }}, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    height: calc(var(--vh, 1vh) * 100 - 20px);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: lightblue;
    border-radius: 10px;
    user-select: none;
    font-size: 4vw;
    text-align: center;
    font-family: sans-serif;
    padding: 2vw;
}

/* Simple keyboard custom styling */
.hg-theme-default.fit-container .hg-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hg-theme-default.fit-container .hg-row {
    flex-grow: 1;
}

.hg-theme-default.fit-container .hg-button {
    height: initial;
}

.hg-theme-default.fit-container .hg-button.max-width {
    max-width: 10%;
}

.hg-theme-default.fit-container .hg-button.hg-standardBtn.no-max-width {
    max-width: initial;
}